

<nb-card size="small">
  <nb-card-header>Login With Twitch</nb-card-header>

  <nb-card-body *ngIf="!auth.currentUser">
    <p *ngIf="message || !data._clientId">{{message ? message : 'We seem to be experiencing server issues.. Attempting to reconnect...'}}</p>
    <button [disabled]="(message?true:false) || !data._clientId" [nbSpinner]="message?true:false" status="primary" nbButton (click)="loginWithTwitch()" color="primary">LOG IN</button>
  </nb-card-body>

  <nb-card-body *ngIf="auth.currentUser">
    <p>You're currently logged in as {{auth.currentUser?.name}}</p>
    <button nbButton status="primary" (click)="auth.logout()">LOGOUT</button>
  </nb-card-body>

</nb-card>

