@import '../../../themes.scss';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    img {
        height: 3rem;
        padding-right: calc(#{nb-theme(header-padding)} / 2);
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    width: auto;
  }
}