nb-card,
nb-accordion {
    max-width: 900px;
    margin: auto;
}

nb-list-item:first-child {
    border-top: 0;
}
nb-list-item:last-child {
    border-bottom: 0;
}
input {
    width: 180px;
}

.field-container {
    height: 40px;
    > .anchor {
        position: relative;
        top: -100%;
        left: 0;
        width: 1px;
        height: 1px;
        > label {
            position: relative;
            left: .4rem;
            top: -18px;
            font-size: 12px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        color: rgba(white, .5);
    }
    
}



.global-card {
    margin-bottom: 2rem;
    > nb-card-body {
        padding: 0;
    }
}


.element-header {
    justify-content: space-between;
}
.element-name {
    margin-left: 1rem;
}
.element-details {
    font-size: smaller;
    flex-grow: 1;
    text-align: right;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 3rem;
    //border-left: 1px solid gray;

    > * {
        color: rgb(226, 226, 226);
        > strong {
            color: white;
            text-transform: uppercase;
        }
    }
}
.element-entry:nth-child(2n) {
    background-color: #2e3750;
}

.element-card {
    border-color: #5b8cd5;
}

.conditions-header {
    text-align: center;
    
    padding: 0;

    > nb-list {
        > nb-list-item.conditions-entry {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-top: 1.4rem;
            background-color: #5b8cd54f;
            border-top-color: #5b8cd5;
            > * {
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
        > nb-list-item:last-child {
            padding-top: 1.4rem;
            background-color: #2e4d7c38;
        }
    }
}


.events-body {
    background-color: #2e4d7c38;
    padding: 0;
}
.event-error {
    background-color: var(--card-header-danger-background-color);
    text-align: center;
    font-weight: bold;
}


.element-footer {
    display: flex;
    justify-content: space-between;
    background-color: #5b8cd54f;
    border-color: #5b8cd5;
    > *:nth-child(2) {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-grow: 1;
    }
}
.add-element-card {
    margin-top: 2rem;
    nb-card-body {
        padding: 0;
    }
}




.video-container {
    display: flex;
    align-items: center;

    .video-preview,
    .video-uploader {
        width: 240px;
        height: 240px;
        margin-right: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    .video-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
            border-left: 1px solid rgba(white, 0.1);
            padding-left: 1rem;
        }
        div:first-child {
            padding-top: 1rem;
        }
        div:last-child {
            padding-bottom: 1rem;
        }
    }
    .video-settings {
        flex-grow: 1;
        padding-left: 2rem;
        nb-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .key {
                flex-grow: 0;
                width: 30%;
                min-width: 110px;
            }
            .value {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .unit {
                    padding-left: .5em;
                }
            }
        }
        
    }

    .video-delete {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .file-upload,
    .file-select {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
    }
    .file-select {
        right: 4rem;
    }
}
.tts-container {
    display: flex;
    justify-content: space-between;
}
.obs-container {
    
    > .field-container:first-child {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .obs-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        > * {
            width: 100%;
            margin-left: .5rem;
            margin-right: .5rem;
        }
        > *:first-child {
            margin-left: 0;
        }
        > *:last-child {
            margin-right: 0;
        }
    }
    .obs-inner:last-child {
        margin-bottom: 2rem;
    }
}
.chat-container {
    > textarea {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    > .keywords {
        display: grid;
        grid-template-columns: 1fr;
        > div {
            display: grid;
            grid-template-columns: 1fr 3fr;
            > div {
                padding-right: 0.5rem;
                color: rgba(white, 0.8);
            }
            > div:first-child {
                font-weight: bold;
                color: white;
            }
            margin-bottom: 0.5rem;
        }
    }
    @media only screen and (min-width: 825px) {
        > .keywords {
            grid-template-columns: 1fr 1fr;
        }
    }
}
.gif-container {

}
