@import "../../../themes.scss";

//$inner-element-background-light: #93a7e9bf;
//$inner-element-border: #5158f5e0;
//$inner-element-color: #3b41ff;

* {
    box-sizing: border-box;
}


.form-group {

    position: relative;
    background-color: $inner-element-background-light;
    //border: 1px solid $inner-element-border;

    border-radius: 1rem;
}

.busy,
.busy > *,
.busy > * > *{
    filter: grayscale(.7);
    pointer-events: none;
}

.form-group > .img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-group > label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.5rem;

    font-weight: bold;
    text-align: center;
    color: $inner-element-color;
    white-space: pre-line;
}

.form-group > input {
    
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid $inner-element-border;
    &.is-active {
        background-color: rgba(#1E88E5, 0.5);
        border: 3px solid $inner-element-border;
    }
    z-index: 3;
    border-radius: 1rem;
}


label.error > span {
    color: #ff3d71;
}

.disabled,
.disabled > *,
.disabled > * > * {
    filter: grayscale(.8);
    pointer-events: none;
}