<div class="form-group" [class.disabled]="disabled" [class.busy]="busy" [style.width]="width" [style.height]="height">
    <div *ngIf="url" class="img" [ngStyle]="{ 'background-image': 'url(' + url + '#)'}"></div>
    <label for="file"><span>{{displayTextOverride ? displayTextOverride : 'DRAG HERE OR CLICK TO UPLOAD'}}</span></label>
    <div [id]="'overlay' + rnd" class="overlay">&nbsp;</div>
    <input type="file"
        [id]="'upload-' + rnd"
        (change)="handleFileInput($event.target)">
</div>  