.viewport-flex {
  display: flex;
  position: absolute;
}

.bars-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-family: 'Poppins', 'sans-serif';
  width: fit-content;
}

.predictions-title {
  color: white;
  font-size: 4rem;
  white-space: nowrap;
}

.bar {
  position: relative;
  border-radius: 5px 5px 0 0;
  > .bar-text {
    width: 100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;

    writing-mode: vertical-lr;
    text-orientation: sideways;
    padding-top: 1rem;

    font-weight: bold;

    white-space: nowrap;

    > div {
      font-size: inherit;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .legend {
    position: absolute;
    width: 100%;
    bottom: 100%;

    display: flex;
    align-items: center;

    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    padding-top: 1rem;
    white-space: nowrap;
  }

  animation: fill 0.7s ease;
}

@keyframes fill {
  from {
    height: var(--old-percentage);
  }
}
