
.container-v {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    min-height: 100vh;
}

.overlay-bottom {
    background-color: #222b45;
    flex-grow: 1;
    flex-shrink: 0;
    z-index: 1;
}

.container-h {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-width: 100vw;
}

.overlay-right {
    background-color: #222b45;
    flex-grow: 1;
    flex-shrink: 0;
    z-index: 1;
}