.anchor {
  position: absolute;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
}
.train {
  background-image: url('/assets/templates/hypetrain//locomotive-outer.png');
  background-size: cover;

  .picture {
    position: absolute;
  }

  .top {
    position: absolute;
    background-image: url('/assets/templates/hypetrain//locomotive-inner.png');
    background-size: cover;
  }
}
