<div
  class="anchor"
  [@entry]="entryState"
  (@entry.done)="animationProgress()"
  [ngStyle]="{ top: settings.hypetrain.train.start.y + 'px', left: settings.hypetrain.train.start.x + 'px' }"
>
  <div
    class="container"
    [ngStyle]="{
      width: settings.viewport.width - settings.hypetrain.train.start.x + 'px',
      'flex-direction': settings.hypetrain.train.reverseDirection ? 'row-reverse' : 'row',
      'flex-wrap': settings.hypetrain.train.reverseWrap ? 'wrap-reverse' : 'wrap'
    }"
  >
    <div
      class="train"
      [@shake]="shakeState"
      (@shake.done)="shakeState = +shakeState + 1 === shakeKeyframes ? 0 : +shakeState + 1"
      [ngStyle]="{
        width: (settings.hypetrain.train[type].size.width * (hypetrain.currentLocomotiveScale || 100)) / 100 + 'px',
        height: (settings.hypetrain.train[type].size.height * (hypetrain.currentLocomotiveScale || 100)) / 100 + 'px',
        'background-image': settings.hypetrain.train[type].pictures.background
          ? 'url(' + settings.hypetrain.train[type].pictures.background + '#)'
          : 'url(/assets/locomotive-outer.png)'
      }"
    >
      <img
        class="picture"
        [src]="user.picture"
        [ngStyle]="{
          top: _pictureBounds.top + 'px',
          width: _pictureBounds.width + 'px',
          left: _pictureBounds.left + 'px',
          height: _pictureBounds.height + 'px'
        }"
      />
      <div
        class="top"
        [ngStyle]="{
          top: (settings.hypetrain.train[type].pictureBounds.top! * hypetrain.currentLocomotiveScale) / 100 + 'px',
          width: (settings.hypetrain.train[type].pictureBounds.width! * hypetrain.currentLocomotiveScale) / 100 + 'px',
          left: (settings.hypetrain.train[type].pictureBounds.left! * hypetrain.currentLocomotiveScale) / 100 + 'px',
          height: (settings.hypetrain.train[type].pictureBounds.height! * hypetrain.currentLocomotiveScale) / 100 + 'px',
          'background-image': settings.hypetrain.train[type].pictures.foreground
            ? 'url(' + settings.hypetrain.train[type].pictures.foreground + '#)'
            : 'url(/assets/locomotive-inner.png)'
        }"
      ></div>
    </div>
    <hypetrain-carriage *ngFor="let c of carriages; let i = index" [index]="i" [user]="c.user"> </hypetrain-carriage>
  </div>
</div>
