<div
  class="viewport-flex"
  [ngStyle]="{
    width: +settings.viewport.width + 'px',
    height: +settings.viewport.height + 'px',
    padding: +settings.viewport.padding + 'px'
  }"
>
  <ng-container *ngFor="let element of currentElements">
    <div
      *ngIf="element.type === 'video' || element.type === 'clip' || element.type === 'gif' || element.type === 'image'"
      [@in]="element.loaded ? element.transitionIN : 'loading'"
      [@out]="element.transitionOUT"
    >
      <app-video *ngIf="element?.type === 'video'" [element]="element"></app-video>
      <app-clip *ngIf="element?.type === 'clip'" [element]="element"></app-clip>
      <app-gif *ngIf="element?.type === 'gif'" [element]="element"></app-gif>
      <app-image *ngIf="element?.type === 'image'" [element]="element"></app-image>
    </div>
  </ng-container>

  <ng-container *ngFor="let element of currentElements">
    <div *ngIf="element.type === 'audio' || element.type === 'tts' || element.type === 'obs' || element.type === 'chat'">
      <app-audio *ngIf="element?.type === 'audio'" [element]="element"></app-audio>
      <app-tts *ngIf="element?.type === 'tts'" [element]="element"></app-tts>
      <app-obs *ngIf="element?.type === 'obs'" [element]="element"></app-obs>
      <app-chat *ngIf="element?.type === 'chat'" [element]="element"></app-chat>
    </div>
  </ng-container>

  <div *ngIf="cantPlay" style="color: red; font-weight: bold; position: absolute">IF YOU OPEN THIS ON A BROWSER YOU NEED TO INTERACT WITH THE PAGE BEFORE IT CAN PLAY MEDIA</div>
</div>
