<div class="container" [ngStyle]="{
    position: 'absolute',
    display: 'flex',
    width: (+viewport.width - (+viewport.padding*2))+'px',
    height: (+viewport.height - (+viewport.padding*2))+'px',
    alignItems: alignItems ? alignItems : 'center',
    justifyContent: justifyContent ? justifyContent : 'center'
}">
    <video *ngIf="video" #videoPlayer (loadeddata)="onLoadedData()" (ended)="onPlaybackEnded()" [ngStyle]="{
        width: video.width ? video.width+'px' : 'fit-content',
        height: video.height ? video.height+'px' : 'fit-content',
        marginTop: video.marginTop ? video.marginTop+'px' : null,
        marginRight: video.marginRight ? video.marginRight+'px' : null,
        marginBottom: video.marginBottom ? video.marginBottom+'px' : null,
        marginLeft: video.marginLeft ? video.marginLeft+'px' : null
    }">
        <source *ngIf="video.src" [src]="video.src">
    </video>  
</div>