<div class="viewport-flex" [ngStyle]="viewportStyle" [style.opacity]="!element.loaded ? '0' : 'initial'">
    
    <div [@innerIN]="element.loaded ? element.innerTransitionIN : 'loading'" [@innerOUT]="element.innerTransitionOUT" [ngStyle]="outerStyle" class="outer-container" [class.rainbow]="outerStyle.rainbow" [class.vaporwave]="outerStyle.vaporwave">
        <div class="cant-play" [ngStyle]="innerStyle" style="position: absolute;">
            {{message}}
        </div>
        <iframe [ngStyle]="innerStyle"
                [src]="element.src"
                (error)="onError($event)"
                *ngIf="element?.src" 
                #clipPlayer 
                (load)="onLoadedData()" 
                (ended)="onPlaybackEnded()" 
                (error)="onError($event)" allowfullscreen style="border:0">
        </iframe>  

    </div>
</div>