<div class="viewport-flex" [ngStyle]="viewportStyle" [style.opacity]="!loaded ? '0' : 'initial'">
    
    <div [ngStyle]="outerStyle" *ngIf="cantDisplay || element.src" class="outer-container" [class.rainbow]="outerStyle.rainbow" [class.vaporwave]="outerStyle.vaporwave" [@innerOUT]="element.innerTransitionOUT" [@in]="element.innerTransitionIN">
        <iframe [ngStyle]="innerStyle"
                [src]="element.src"
                (error)="onError($event)"
                *ngIf="element?.src" 
                #clipPlayer 
                (load)="onLoadedData()" 
                (ended)="onPlaybackEnded()" 
                (error)="onError($event)" allowfullscreen style="border:0">
        </iframe>  
        <div class="cant-play" *ngIf="cantDisplay" [ngStyle]="innerStyle">
            Clips can't be played as tests...<br/>
            This is a placeholder
        </div>
        <!-- <div id="clipPlayer"></div> -->
    </div>
</div>