<div
  class="anchor"
  [@entry]="entryState"
  (@entry.done)="animationProgress()"
  [ngStyle]="{
    width: (settings.hypetrain.train[type].size.width * (hypetrain.currentCarriageScale || 1100)) / 100 + 'px',
    height: (settings.hypetrain.train[type].size.height * (hypetrain.currentCarriageScale || 100)) / 100 + 'px'
  }"
>
  <div
    class="container"
    [@shake]="shakeState"
    (@shake.done)="shakeState = +shakeState + 1 === shakeKeyframes ? 0 : +shakeState + 1"
    [ngStyle]="{
      width: (settings.hypetrain.train[type].size.width * (hypetrain.currentCarriageScale || 100)) / 100 + 'px',
      height: (settings.hypetrain.train[type].size.height * (hypetrain.currentCarriageScale || 100)) / 100 + 'px',
      'background-image': settings.hypetrain.train[type].pictures.background ? 'url(' + settings.hypetrain.train[type].pictures.background + '#)' : 'url(carriage-outer.png)'
    }"
  >
    <img
      class="picture"
      [src]="user.picture"
      [ngStyle]="{
        top: _pictureBounds.top + 'px',
        width: _pictureBounds.width + 'px',
        left: _pictureBounds.left + 'px',
        height: _pictureBounds.height + 'px'
      }"
    />
    <div
      class="top"
      [ngStyle]="{
        top: (settings.hypetrain.train[type].pictureBounds.top! * hypetrain.currentCarriageScale) / 100 + 'px',
        width: (settings.hypetrain.train[type].pictureBounds.width! * hypetrain.currentCarriageScale) / 100 + 'px',
        left: (settings.hypetrain.train[type].pictureBounds.left! * hypetrain.currentCarriageScale) / 100 + 'px',
        height: (settings.hypetrain.train[type].pictureBounds.height! * hypetrain.currentCarriageScale) / 100 + 'px',
        'background-image': settings.hypetrain.train[type].pictures.foreground ? 'url(' + settings.hypetrain.train[type].pictures.foreground + '#)' : 'url(carriage-inner.png)'
      }"
    ></div>
  </div>
</div>
