<div class="viewport" [ngStyle]="{
  width: viewport.width+'px', 
  height: viewport.height+'px',
  padding: viewport.padding+'px'
}">
  
  <div *ngIf="cantPlay" style="color: red; font-weight: bold;">IF YOU OPEN THIS ON A BROWSER YOU NEED TO INTERACT WITH THE PAGE BEFORE IT CAN PLAY MEDIA</div>

  <div [@in]="event['transition IN']" [@out]="event['transition OUT']" *ngFor="let event of currentEvents">
    <app-video *ngIf="event?.type === 'video'" [event]=event [viewport]="viewport"></app-video>
    <app-audio *ngIf="event?.type === 'audio'" [event]=event></app-audio>
    <app-tts *ngIf="event?.type === 'tts'" [event]=event></app-tts>
    <app-obs *ngIf="event?.type === 'obs'" [event]=event></app-obs>
    <app-chat *ngIf="event?.type === 'chat'" [event]=event></app-chat>
    <app-gif *ngIf="event?.type === 'gif'" [event]=event [viewport]="viewport"></app-gif>
  </div>

</div>
