

.ext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    .int {
        color: red;
        width: 60%;
        font-weight: bolder;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
}