<div class="viewport" [ngStyle]="{width: viewport.width+'px', height: viewport.height+'px'}" [class.background]="viewport.background" [class.dark]="viewport.dark">

    <div class="viewport-anchor" [ngStyle]="{width: viewport.width+'px', height: viewport.height+'px'}"></div>
    <div id="cover" [ngStyle]="{
      left: viewport.width + 'px',
      width: (1280 - viewport.width)+'px',
      height: viewport.height+'px'
    }"></div>

</div>


<div class="settings"  [ngStyle]="{width: viewport.width+'px'}">

    <div class="test">
        <button class="save-button" mat-raised-button color="primary" [disabled]="data.busy" (click)="saveSettings()">SAVE</button>
    </div>

    <div class="viewport-audio-text">
        <button class="save-button" mat-raised-button color="primary" [disabled]="data.busy" (click)="saveSettings()">SAVE</button>
    </div>

    <div class="train">
        <button class="save-button" mat-raised-button color="primary" [disabled]="data.busy" (click)="saveSettings()">SAVE</button>
    </div>
</div>

<div (click)="testController.next('play')">
<app-clip [source]="'assets/clips/test.webm'" [controller]="testController" ></app-clip>
</div>