
.header-name {
    margin-left: 1rem;
}
.header-conditions {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid gray;
}

.header-conditions > * {
    color: rgb(226, 226, 226);
}
.header-conditions > * > strong {
    color: white;
    text-transform: uppercase;
}

.conditions-header {
    text-align: center;
}
.condition-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}