@import '../../../themes.scss';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: nb-theme(text-hint-color);

  small {
    position: relative;
    top: -8px;
  } 

  .socials {
    font-size: 2rem;
    
    a {
      padding: 0.4rem;
      padding-left: 0.8rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      text-decoration: none;
      &:hover {
        color: nb-theme(text-basic-color);
      }
    }

  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}