
<div class="container">

    <nb-card *ngIf="listeners.settings">
      <nb-card-header>
        <nb-toggle [disabled]="data.busy" [(checked)]="listeners.settings.api.enabled" (change)="listeners.toggleApi()">Api</nb-toggle>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let k of object.keys(listeners.settings.api.listeners)">     
          <nb-toggle (change)="listeners.toggleListener(k)" [(checked)]="listeners.settings.api.listeners[k].enabled" 
          [disabled]="
            data.busy || 
            !listeners.settings.api.enabled ||
            k === 'ban' ||
            k === 'follow' ||
            k === 'moderator' ||
            k === 'poll' ||
            k === 'prediction' ||
            k === 'raid' ||
            k === 'reward' ||
            k === 'subscription' ||
            k === 'update' ||
            k === 'online'
          ">{{k}}</nb-toggle>
        </nb-list-item>
      </nb-list>
    </nb-card>
    
</div>
  