.monitor {
  margin: 1rem;
  > div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
::ng-deep .monitor > nb-stepper > .step-content {
  display: none;
}

.test {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
