<div
  *ngIf="settings.viewport && settings.hypetrain"
  class="viewport"
  [ngStyle]="{ width: +settings.viewport.width - +settings.viewport.padding * 2 + 'px', height: +settings.viewport.height - +settings.viewport.padding * 2 + 'px' }"
  [class.background]="settings.viewport.background"
  [class.dark]="settings.viewport.dark"
>
  <hypetrain-locomotive
    *ngIf="settings.hypetrain.train.enabled && hypetrain.currentLevel > 0"
    [viewport]="settings.viewport"
    [coordinates]="settings.hypetrain.train.start"
    [size]="settings.hypetrain.train.locomotive.size"
    [scale]="hypetrain.currentLocomotiveScale"
    [pictureBounds]="settings.hypetrain.train.locomotive.pictureBounds"
    [user]="{ name: 'streamer', picture: hypetrain.channelPic }"
    [backgroundPic]="settings.hypetrain.train.locomotive.pictures.background"
    [foregroundPic]="settings.hypetrain.train.locomotive.pictures.foreground"
    [reverseDirection]="settings.hypetrain.train.reverseDirection"
    [reverseWrap]="settings.hypetrain.train.reverseWrap"
  >
  </hypetrain-locomotive>

  <div class="viewport-anchor" [ngStyle]="{ width: settings.viewport.width + 'px', height: settings.viewport.height + 'px' }"></div>
  <div
    id="cover"
    [ngStyle]="{
      left: settings.viewport.width + 'px',
      width: 1920 - settings.viewport.width + 'px',
      height: settings.viewport.height + 'px'
    }"
  ></div>
</div>

<div *ngIf="!OBS.isOBS && settings.hypetrain" class="settings mat-typography" [ngStyle]="{ width: settings.viewport.width + 'px' }">
  <div class="test">
    <h3>HYPE TRAIN TRACKS</h3>
    <app-uploader
      [name]="'hypetrain-track-1'"
      [displayTextOverride]="'LVL 0->1 TRACK'"
      [disabled]="!audioLoaded || data.busy || hypetrain.currentLevel > 0"
      [uploading]="trackUploadingSubject"
      [uploaded]="trackChangeSubject"
      [allowedTypes]="['audio']"
      [height]="'4rem'"
      [ngStyle]="{ 'margin-bottom': '.2rem' }"
    ></app-uploader>
    <button
      mat-raised-button
      color="accent"
      (click)="defaultTrack('hypetrain-track-1')"
      [disabled]="!settings.hypetrain.audio.tracks[1] || !audioLoaded || hypetrain.currentLevel > 0"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    >
      DEFAULT
    </button>

    <app-uploader
      [name]="'hypetrain-track-2'"
      [displayTextOverride]="'LVL 1->2 TRACK'"
      [disabled]="!audioLoaded || data.busy || hypetrain.currentLevel > 0"
      [uploading]="trackUploadingSubject"
      [uploaded]="trackChangeSubject"
      [allowedTypes]="['audio']"
      [height]="'4rem'"
      [ngStyle]="{ 'margin-bottom': '.2rem' }"
    ></app-uploader>
    <button
      mat-raised-button
      color="accent"
      (click)="defaultTrack('hypetrain-track-2')"
      [disabled]="!settings.hypetrain.audio.tracks[2] || !audioLoaded || hypetrain.currentLevel > 0"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    >
      DEFAULT
    </button>

    <app-uploader
      [name]="'hypetrain-track-3'"
      [displayTextOverride]="'LVL 2->3 TRACK'"
      [disabled]="!audioLoaded || data.busy || hypetrain.currentLevel > 0"
      [uploading]="trackUploadingSubject"
      [uploaded]="trackChangeSubject"
      [allowedTypes]="['audio']"
      [height]="'4rem'"
      [ngStyle]="{ 'margin-bottom': '.2rem' }"
    ></app-uploader>
    <button
      mat-raised-button
      color="accent"
      (click)="defaultTrack('hypetrain-track-3')"
      [disabled]="!settings.hypetrain.audio.tracks[3] || !audioLoaded || hypetrain.currentLevel > 0"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    >
      DEFAULT
    </button>

    <app-uploader
      [name]="'hypetrain-track-4'"
      [displayTextOverride]="'LVL 3->4 TRACK'"
      [disabled]="!audioLoaded || data.busy || hypetrain.currentLevel > 0"
      [uploading]="trackUploadingSubject"
      [uploaded]="trackChangeSubject"
      [allowedTypes]="['audio']"
      [height]="'4rem'"
      [ngStyle]="{ 'margin-bottom': '.2rem' }"
    ></app-uploader>
    <button
      mat-raised-button
      color="accent"
      (click)="defaultTrack('hypetrain-track-4')"
      [disabled]="!settings.hypetrain.audio.tracks[4] || !audioLoaded || hypetrain.currentLevel > 0"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    >
      DEFAULT
    </button>

    <app-uploader
      [name]="'hypetrain-track-5'"
      [displayTextOverride]="'LVL 4->5(END) TRACK'"
      [disabled]="!audioLoaded || data.busy || hypetrain.currentLevel > 0"
      [uploading]="trackUploadingSubject"
      [uploaded]="trackChangeSubject"
      [allowedTypes]="['audio']"
      [height]="'4rem'"
      [ngStyle]="{ 'margin-bottom': '.2rem' }"
    ></app-uploader>
    <button
      mat-raised-button
      color="accent"
      (click)="defaultTrack('hypetrain-track-5')"
      [disabled]="!settings.hypetrain.audio.tracks[5] || !audioLoaded || hypetrain.currentLevel > 0"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    >
      DEFAULT
    </button>
  </div>

  <div class="settings.viewport-audio-text">
    <h3>AUDIO</h3>
    <div>
      Enabled&nbsp;&nbsp;&nbsp;<mat-slide-toggle [disabled]="true" [(ngModel)]="settings.hypetrain.audio.enabled">{{
        settings.hypetrain.audio.enabled ? 'ON' : 'OFF'
      }}</mat-slide-toggle>
    </div>

    <div>
      Volume:
      <mat-slider min="0.1" max="1" step="0.1" (change)="onVolumeChange()" [(ngModel)]="currentVolume"></mat-slider>
      {{ currentVolume }}
    </div>

    <div>
      Fading duration:
      <mat-slider min="10" max="180" step="10" [disabled]="fader" [(ngModel)]="settings.hypetrain.audio.fadingLength"></mat-slider>
      {{ settings.hypetrain.audio.fadingLength }} secs
    </div>
    <div>
      Fade on completion: &nbsp;&nbsp;&nbsp;<mat-slide-toggle [(ngModel)]="settings.hypetrain.audio.fadeOnCompletion">{{
        settings.hypetrain.audio.enabled ? 'ON' : 'OFF'
      }}</mat-slide-toggle>
    </div>
  </div>

  <div class="train">
    <h3>TRAIN</h3>

    <div class="table-outer">
      <div class="table-inner">
        <mat-form-field>
          <input matInput type="number" placeholder="Left anchor(px)" [(ngModel)]="settings.hypetrain.train.start.x" />
        </mat-form-field>
      </div>
      <div class="table-inner">
        <mat-form-field>
          <input matInput type="number" placeholder="Top anchor(px)" [(ngModel)]="settings.hypetrain.train.start.y" />
        </mat-form-field>
      </div>
    </div>

    <div>
      Train direction:
      <mat-slide-toggle [disabled]="true" [(ngModel)]="settings.hypetrain.train.reverseDirection">{{
        settings.hypetrain.train.reverseDirection ? 'RIGHT' : 'LEFT'
      }}</mat-slide-toggle>
    </div>
    <div>
      Maximum rows:
      <mat-slider min="1" max="10" step="1" (change)="hypetrain.resizeToFit()" [(ngModel)]="settings.hypetrain.train.maxRows"></mat-slider>
      {{ settings.hypetrain.train.maxRows }}
    </div>
    <div>
      New rows direction: <mat-slide-toggle [(ngModel)]="settings.hypetrain.train.reverseWrap">{{ settings.hypetrain.train.reverseWrap ? 'UPWARD' : 'DOWNWARD' }}</mat-slide-toggle>
    </div>
    <br />
    <br />
    <div>Linked scale: <mat-slide-toggle></mat-slide-toggle></div>

    <h3>LOCOMOTIVE</h3>
    <div class="table-outer">
      <div class="table-inner">
        <span class="label">Background</span>
        <app-uploader
          [name]="'locomotive-background'"
          [allowedTypes]="['image']"
          [url]="settings.hypetrain.train.locomotive.pictures.background"
          [uploaded]="pictureChangeSubject"
          [height]="'4rem'"
          [ngStyle]="{ 'margin-bottom': '.2rem' }"
        ></app-uploader>
        <button mat-raised-button color="accent" [disabled]="!settings.hypetrain.train.locomotive.pictures.background" [ngStyle]="{ 'margin-bottom': '1rem' }">DEFAULT</button>
        <mat-form-field>
          <input matInput type="number" placeholder="Background Width (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.locomotive.size.width" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Width (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.locomotive.pictureBounds.width" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Left (px)" [(ngModel)]="settings.hypetrain.train.locomotive.pictureBounds.left" />
        </mat-form-field>
      </div>
      <div class="table-inner">
        <span class="label">Foreground</span>
        <app-uploader
          [name]="'locomotive-foreground'"
          [allowedTypes]="['image']"
          [url]="settings.hypetrain.train.locomotive.pictures.foreground"
          [uploaded]="pictureChangeSubject"
          [height]="'4rem'"
          [ngStyle]="{ 'margin-bottom': '.2rem' }"
        ></app-uploader>
        <button mat-raised-button color="accent" [disabled]="!settings.hypetrain.train.locomotive.pictures.foreground" [ngStyle]="{ 'margin-bottom': '1rem' }">DEFAULT</button>
        <mat-form-field>
          <input matInput type="number" placeholder="Background Height (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.locomotive.size.height" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Height (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.locomotive.pictureBounds.height" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Top (px)" [(ngModel)]="settings.hypetrain.train.locomotive.pictureBounds.top" />
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
      <input matInput type="number" placeholder="Profile Pic Scale" [(ngModel)]="settings.hypetrain.train.locomotive.pictureBounds.scale" />
    </mat-form-field>
    <div>
      Locomotive scale:
      <mat-slider min=".1" max="2" step=".1" [(ngModel)]="settings.hypetrain.train.locomotive.scale"></mat-slider>
      {{ settings.hypetrain.train.locomotive.scale }}
    </div>

    <h3>CARRIAGE</h3>
    <div class="table-outer">
      <div class="table-inner">
        <span class="label">Background</span>
        <app-uploader
          [name]="'carriage-background'"
          [allowedTypes]="['image']"
          [url]="settings.hypetrain.train.carriage.pictures.background"
          [uploaded]="pictureChangeSubject"
          [height]="'4rem'"
          [ngStyle]="{ 'margin-bottom': '.2rem' }"
        ></app-uploader>
        <button mat-raised-button color="accent" [disabled]="!settings.hypetrain.train.carriage.pictures.background" [ngStyle]="{ 'margin-bottom': '1rem' }">DEFAULT</button>
        <mat-form-field>
          <input matInput type="number" placeholder="Background Width (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.carriage.size.width" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Width (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.carriage.pictureBounds.width" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Left (px)" [(ngModel)]="settings.hypetrain.train.carriage.pictureBounds.left" />
        </mat-form-field>
      </div>
      <div class="table-inner">
        <span class="label">Foreground</span>
        <app-uploader
          [name]="'carriage-foreground'"
          [allowedTypes]="['image']"
          [url]="settings.hypetrain.train.carriage.pictures.foreground"
          [uploaded]="pictureChangeSubject"
          [height]="'4rem'"
          [ngStyle]="{ 'margin-bottom': '.2rem' }"
        ></app-uploader>
        <button mat-raised-button color="accent" [disabled]="!settings.hypetrain.train.carriage.pictures.foreground" [ngStyle]="{ 'margin-bottom': '1rem' }">DEFAULT</button>
        <mat-form-field>
          <input matInput type="number" placeholder="Background Height (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.carriage.size.height" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Height (px)" [disabled]="true" [(ngModel)]="settings.hypetrain.train.carriage.pictureBounds.height" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Foreground Top (px)" [(ngModel)]="settings.hypetrain.train.carriage.pictureBounds.top" />
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
      <input matInput type="number" placeholder="Profile Pic Scale" [(ngModel)]="settings.hypetrain.train.carriage.pictureBounds.scale" />
    </mat-form-field>
    <div>
      Carriage scale:
      <mat-slider min=".1" max="2" step=".1" [(ngModel)]="settings.hypetrain.train.carriage.scale"></mat-slider>
      {{ settings.hypetrain.train.carriage.scale }}
    </div>
  </div>
</div>
