@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/cosmic';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  font-family-primary: 'Poppins, sans-serif',
  font-family-secondary: 'Poppins, sans-serif',

/*   text-basic-color: red,
  text-alternate-color: red,
  text-control-color: red,
  text-disabled-color: red,
  text-hint-color: red, */

  // add your variables here like:

/*   color-basic-100: white,
  color-basic-200: #eefafc,
  color-basic-300: #e8f5fa,
  color-basic-400: #d6e6f2,
  color-basic-500: #c7dbeb,
  color-basic-600: #a9c0db,
  color-basic-700: #4f969e,
  color-basic-800: #336a77,
  color-basic-900: #295c66,
  color-basic-1000: #244555,
  color-basic-1100: #121a2b, */

/*   background-basic-color-1: color-basic-700,
  background-basic-color-2: color-basic-800,
  background-basic-color-3: color-basic-900,
  background-basic-color-4: color-basic-100,
  border-basic-color-1: color-basic-700,
  border-basic-color-2: color-basic-800,
  border-basic-color-3: color-basic-900,
  border-basic-color-4: color-basic-1000,
  border-basic-color-5: color-basic-1100, */

/*   shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24), */

/*   text-disabled-color: color-basic-600, */

/*   color-primary-100: #f2f6ff,
  color-primary-200: #d9e4ff,
  color-primary-300: #a6c1ff,
  color-primary-400: #598bff,
  color-primary-500: #3366ff,
  color-primary-600: #274bdb,
  color-primary-700: #1a34b8,
  color-primary-800: #102694,
  color-primary-900: #091c7a, */


/*   card-header-primary-background-color: #3366ff,
  card-header-info-background-color: #3366ff, */

  
  select-outline-small-padding: 0.4375rem 1rem,
  select-min-width: 100px,
  select-small-max-width: 100px,
  select-medium-max-width: 180px,

  popover-background-color: #00d68f,
  
), ccarbn, cosmic);

$inner-background: #443978;
$inner-background-light: #5e4a99;
$inner-border: #a16eff;
$inner-color: #cbafff;

.card-header {
  background-color: $inner-background-light;
}
.accordion-header {
  background-color: $inner-background-light;
  display: flex;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 2rem
  }
  border-radius: 5px
}

.supporter {
  color: #916c3f;
}
.premium {
  color: #daa520;
}

.composed-title {
  display: flex;
  flex-direction: column;
  > .text-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  > .text-description {
    color: rgba(white, .75);
    font-weight: 300;
  }
  > .text-title-sub {
    font-size: 1.2rem;
    font-weight: bold;
  }
  > .text-description-sub {
    font-size: 0.8rem;
    color: rgba(white, .75);
    font-weight: 300;
  }
}



nb-accordion.alternate > nb-accordion-item:nth-child(2n) {
  background-color: var(--background-basic-color-2);
}


nb-accordion-item-body.unpadded > div > div {
  padding: 0;
  > nb-list > nb-list-item:first-child {
    border-top:0
  }
}


nb-accordion.lighter {
  nb-accordion-item {
      overflow: hidden;
  }
  nb-accordion-item-header {
      background-color: $inner-background-light;
      border: 1px solid $inner-border;
  }
  nb-list-item {
      background-color: $inner-background;
      border-color: $inner-border;
      border-left: 1px solid $inner-border;;
      border-right: 1px solid $inner-border;;
  }
  nb-accordion-item:last-child {
    nb-list-item:last-child {
      border-bottom: 1px solid $inner-border;
      border-radius: 0 0 .5rem .5rem;
    }
  }
}


nb-select.size-medium:not(.full-width) {
  min-width: 180px;
}


.centered {
  max-width: 900px;
  margin: auto;
  margin-bottom: 2rem;
}




//Workaround until they fix https://github.com/akveo/nebular/issues/2119
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background:  nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-2);
}



.nested > div > .layout {
  min-height: 100% !important;
  > div > div > .columns > nb-layout-column {
    padding: 0 !important;
  }
}


.streamer-mode {
  position: relative;
  > .copy-icon {
    position: absolute;
    right: -2rem;
    top: calc(50% - 10px);
    transition: 0.3s;
  }

  > .show-icon {
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    transition: 0.3s;
  }
  > .show-icon:hover,
  > .copy-icon:hover {
    transform-origin: center;
    transform: scale(1.25);
    filter: drop-shadow(0 0 6px white);
    transition: 0.3s;
  }
}
.streamer-mode :not(.on) {
  transition: 0.3s;
}
.on {
  transition: 0.3s;
  > *:not(nb-icon) {
    filter: blur(5px) drop-shadow(2px 4px 6px #000000A0);
    pointer-events: none;
  }
}


nb-layout-footer {
  z-index: 999;
}

nb-menu > ul {
  margin-bottom: 4.1rem !important;
}

nb-sidebar.loaded.expanded,
nb-sidebar.loaded.collapsed {
  transition: 0.3s ease;
  > div {
    transition: 0.3s ease;
  }
} 