@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

  select-outline-small-padding: 0.4375rem 1rem,
  select-min-width: 100px,
  select-small-max-width: 100px,
  select-medium-max-width: 180px,
  //input-medium-max-width: 10rem,
  

), dark, dark);

nb-select.size-medium:not(.full-width) {
  min-width: 180px;
}


//Workaround until they fix https://github.com/akveo/nebular/issues/2119
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background:  nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-2);
}