<div class="container" [ngStyle]="{
    display: 'flex',
    width: (+viewport.width - (+viewport.padding*2))+'px',
    height: (+viewport.height - (+viewport.padding*2))+'px',
    alignItems: alignItems ? alignItems : 'center',
    justifyContent: justifyContent ? justifyContent : 'center'
}">
    <video *ngIf="element" #videoPlayer (loadeddata)="onLoadedData()" (ended)="onPlaybackEnded()" (error)="onError($event)" [ngStyle]="style">
        <source [src]="element.src" (error)="onError($event)">
    </video>  
</div>